* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}

/* ===========
==== FORM
=========== */

.form-banner img {
  height: 100%;
  width: 100%;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* =============
====== laoder 
=============== */
.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ======================
--------- navbar 
=================== */

.navbar {
  display: flex;
  flex-direction: row;
  background-color: rgb(216, 209, 209) !important;
  color: black !important;
  font-weight: bold;
}
.nav-link,
.navbar-brand {
  background-color: rgb(216, 209, 209) !important;
  color: black !important;
}


.project__logo2{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.pro__logo2{
  align-items: center;
  padding: 3px 3px;
  height: 3.5rem;
  width: 2.5rem;
}
.prohead__red2{
  font-size: 2rem;
  color: rgb(196, 22, 28);
  font-family: initial;
  font-weight: 600;
}
.prohead__oxy2{
  font-size: 2rem;
  color: rgb(84, 195, 187);
  font-family: initial;
  font-weight: 600;    
}