.sidebar {
  height: 100vh !important;
  width: 80% !important;
  background-color: #419b96;
  box-shadow: 0 0 2px gray;
  color: white;
}

.menu {
  padding-top: 100px;
}

.menu-item {
  padding-top: 30px;
}

.menu-item a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.menu-item i {
  font-size: 1.2rem;
  margin: 0 15px;
  color: white;
}

.active {
  background-color: #ed1c24;
  padding: 10px;
  margin-top: 25px;
}

.active a,
.active i {
  color: white
}



/* ================================================================
===================Login Design Start here ========================
================================================================ */

.tex-deco{
  text-decoration: none;
}
.login-main{
    color: white;
    text-decoration: none;
}
.register-main{
  color: white;
  text-decoration: none;
}