/* reset code and common starts here. */


:root{
    --transition: all 0.3s;
    --scale: scale(1.1);
}
html{
    background-color: #fafafa;
    scroll-behavior: smooth;
}
body{
    background-color: #fff;
    width: 100%;
    max-width: 100%;
    margin: auto;
    box-shadow: 0.1rem 0.1rem 0.1rem #c4c4c4 , -0.1rem 0.1rem 0.1rem #c4c4c4;
}

.text-justify{
    text-align: justify;
}

.btn{
    background-color: rgb(84, 195, 187);
    border: none;
    border-radius: 0.6rem;
    cursor: pointer;
    box-shadow: 0.1rem 0.1rem 0.1rem #222;
}
.section__heading{
    font-size: 8rem;
    text-align: center;
    font-family: 'Italianno', cursive;
    color: black;
    font-weight: 500;
}
.section-center{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: space-evenly;
    align-items: center;

}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* reset code and common ends here. */

.my-Website-color{
    color: #ed1c24;
    color: #c4161c;
    color: #54c3bb;
    color: #419b96;
}



/* header starts here */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    color: white;
    box-shadow: 0.1rem 0.1rem 0.1rem #c4c4c4 , -0.1rem -0.1rem 0.1rem #c4c4c4;

    position: sticky;
    top: 0;
    z-index: 10;
}

.project__logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}
.pro__logo{
    align-items: center;
    padding: 5px 5px;
    height: 4rem;
    width: 3rem;
}
.prohead__red{
    font-size: 2.5rem;
    color: rgb(196, 22, 28);
    font-family: initial;
    font-weight: 600;
}
.prohead__oxy{
    font-size: 2.5rem;
    color: rgb(84, 195, 187);
    font-family: initial;
    font-weight: 600;    
}

 .nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 8px;
    gap: 1.2rem;
}

.home__icn{
    padding: none;

}
.nav__link{
    font-size: 25px;
    color: black;
    cursor: pointer;
    padding: 6px;
    transition: all 0.2s;
    display: block;
    text-decoration: none;
}
.nav__link:hover{
    background-color: #54c3bb;
    color: white;
    border-radius: 0.6rem;
    transform: var(--scale);
}
.sign__in{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    text-decoration: none;
    cursor: pointer;
    padding: 10px;
    box-shadow: #ed1c24 0px 1px 1px, #ed1c24 0px 0px 0px 1px;
    border-radius: 30px;
    color: #ed1c24;
    transition: all 0.2s linear;
    position: relative;
    right: 50px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}
.sign__in:hover{
    background-color: #ed1c24;
    color: white;
    transform: var(--scale);
}

/* ===================================== Slider CSS Starts ================================== */

.slider-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 90vh;
    background-image: url("../Images/slide-02.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; /*tihs element canot add with only baccground property */
    /* background-attachment: fixed; tihs element canot add with only baccground property */
    /* filter: saturate(0);*/
}
.slider__heading{
    color: white;
    font-size: 50px;
    font-family: initial;
    font-weight: 800;
}
.slider__details{
    margin-top: 40px;
    color: white;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    width: 50%; 
}
.slider__btn{
    display: flex;
    gap: 2.5rem;
    border-radius: 1.5rem;
}
.slbtn__design{
    background-color: #c4161c;;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    cursor: pointer;
    margin-top: 3rem;
}
.btn2{
    background-color: #419b96;
}
   @media screen and (max-width: 1180px) {
    .slider-detail .carousel-caption {
      bottom: 30px; } }

  @media screen and (max-width: 1057px) {
    .slider-detail .carousel-caption {
      bottom: 10px; } }

  @media screen and (max-width: 1057px) {
    .slider-detail .carousel-caption h5 {
      font-size: 32px; } }

  @media screen and (max-width: 927px) {
    .slider-detail .carousel-caption h5 {
      font-size: 22px; } }

  @media screen and (max-width: 1057px) {
    .slider-detail .carousel-caption p {
      font-size: 16px; } }

  @media screen and (max-width: 927px) {
    .slider-detail .carousel-caption p {
      font-size: 13px; } } */
/* ===================================== Slider CSS Ends ================================== */

/* ============================= about-us section starts here ============================= */

#blog-about{
    min-height: 90%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
}
.about__sec{
    margin-top: 70px;
    margin-left: 20px;
}
.abo-us__heading{
    margin-top: 20px;
    font-size: 50px;
    color: #4c4c4c;
}
.abo-us__details{
    font-size: 30px;
    color: #4c4c4c;
}
.abou__donar{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px;
}
.donar__heading{
    font-size: 30px;
    color: #4c4c4c;
    margin-left: 40px;
}
.doner__details{
    font-size: 15px;
    color: #4c4c4c;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    margin-top: 1rem;
    margin-left: 40px;
    width: 80%;
}
 .card{
     flex: 1; /*every one take same space */
     border-radius: 0.6rem;
     background-color: #a09d9d;
     padding: 3rem 1rem;
     margin: 2rem;
     gap: 0.6rem;
     display: flex;
     flex-direction: column;
     align-items: center;
     transition: var(--transition);
}
.abo-me__heading{
    color: white;
}
.card:hover{
    transform: var(--scale);
}
.card__heading{
    font-size: 3rem;
}
.card__descptoin{
    padding: 0.4rem 0;
    font-size: 1.6rem;
    margin-bottom: 1rem;
} */
/* ============================== about-us section ends here ================================ */

/* ################# Blood Alternative Starts Here #######################-*/
.round-section .grid-x .blood-cell-image{
        border-radius: 100%;
        border: 1px solid #616161;
        background-color: #fff;
        overflow: hidden;
        cursor: pointer;
        width: 34%;
        position: absolute;
        top: 2%;
        padding: 20px;
        margin-left: 5px;
        transition: all .4s ease-in-out;
   }
.large-round{
        border: 1px solid #616161;
        height: 650px;
        width: 650px;
        border-radius: 100%;
        position: relative;
        right: -1050px;
        z-index: 2;
}

.blood-cell-image{
    max-width: 100px;
    max-height: 100px;
    border: 1px solid #616161;
    border-radius: 50%;
    margin-left: 5px;
    background-color: #fafafa;
}
.position1{
    position: relative;
    right: 150px;
}
.position2{
    position: relative;
    right: 320px;
    top: 60px;
}
.position3{
    position: relative;
    right: 210px;
    top: 150px;
}
.position4{
    position: relative;
    top: 200px;
    right: 170px;
}
.inner-round{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 450px;
    height: 450px;
    border-radius: 100%;
    background-color: #f44336;
    position: absolute;
    left: 140px;
    top: 100px;
    overflow: hidden;
}
.innr-tex{
    width: 180px;
    height: 115px;
    position: relative;
    right: 90px;
    text-align: start;
    color: white;
}
.alter__nam{
    text-decoration: none;
    color: #54c3bb;
}
.nampos1{
    position: relative;
    right: 160px;
}
.nampos2{
    position: relative;
    right: 325px;
    top: 60px;
}
.nampos3{
    position: relative;
    right: 220px;
    top: 150px;
}
.nampos4{
    position: relative;
    right: 175px;
    top: 200px;
}
.alt__lef-data{

    text-decoration: none;
    color: #f44336;
    border: 1px solid #f44336;
    display: inline-block;
    font-size: 22.4px;
    font-family: 'Times New Roman', Times, serif;
    padding: 13.44px 56px;
    margin: 0px 0px 30px;
    background: transparent;
    border-radius: 2rem;
    transition: all 0.2s linear;

    position: relative;
    right: 175px;
    top: 400px;

}
.lef-data1{
    position: relative;
    right: -250px;
}
.lef-data2{
    position: relative;
    right: 240px;
    border-radius: 3rem;
    max-width: 445px;
}
.alt__lef-data:hover{
    background-color: #f44336;
    color: white;
    
}
.overflow{
    overflow: hidden;
}
/* ################# Blood Alternative Ends Here #######################-*/

/* =============================== banner section starts here ======================================== */

.banner{
    padding: 5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
}
.banner article{
    flex-basis: 50%;
    margin: 1rem;
}
.banner aside{
    flex-basis: 50%;
    text-align: center;
}
.banner__heading{
    display: inline-block;
    background-color: #ed1c24;
    padding: 1rem;
    color: #fff;
    margin-bottom: 1.5rem ;
    font-size: 4rem;

}
.banne__card{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.ban__card{
    flex: 1; /*every one take same space */
    border-radius: 10px;
    background-color: #419b96;
    color: white;
    padding: 15px 10px;
    margin: 15px;
    gap: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 280px;
    transition: var(--transition);
}
.ban__card:hover{
    transform: var(--scale);
}

.banner__decription{
    font-size: 1.8rem;
}
.banner__image2{
    background-image: url("../Images/donation-pic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10px;
}
/* ====================================== banner section ends here ===================================== */


/*------------------------------------- blog-posts section starts here --------------------------------*/

.blog__heading{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 50px;
}
.blog-posts{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    gap: 40px;
}
.blog-post{
    /* width: 40%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5px;
    margin: 10px 15px;
    transition: var(--transition);
    box-shadow: 0.1rem 0.1rem 0.1rem #c4c4c4 , -0.1rem -0.1rem 0.1rem #c4c4c4;
    border-radius: 1rem;
}
.blog-post:hover{
    transform: var(--scale);
}
.blog__main{
    height: 98vh;
}

.blog-post__aside{
    height: 100%;
    flex: 1;
}
.blog-post__content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    margin-left: 1.5rem;
    flex: 2;
    gap: 10px;
}
.blog-post__heading{
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: bolder;
}
.blog-post__sub-heading{
    font-size: 25px;
    font-weight: bold;
}
.blog-post__description{
    font-size: 15px;
    text-align: justify;
}
.blog-post__btn{
    width: 30%;
}

/* blog-posts section ends here */

/* =========================================== contact section starts here ========================================== */
form{
    box-shadow: 0.1rem 0.1rem 0.1rem #c4c4c4 , -0.1rem -0.1rem 0.1rem #c4c4c4;
    padding: 1rem;
    color: #fff;
    margin: 1rem;
    display: flex;
    flex-direction: column;
}
#contract-section{
    background-color: #4c4c4c;
    min-height: 80vh;
}
.conct__ush{
    font-size: 100px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
.form-control{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-shrink: 1;
    align-items: center;
}
.form-control label{
    font-size: 15px;
    flex: 0.3;
}
.form-control >input, textarea{
    flex: 0.7;
    width: 500px;
    padding: 2rem 1rem;
    border: none;
    border-radius: 0.6rem;
}
textarea{
    resize: none;
    height: 10vh;
}
.from-btn-field{
    display: flex;
    justify-content: flex-end;
}
.contact__btn{
    width: 30%;
}
/* contact section ends here */

/* footer section starts here*/
.footer{
    background-color: black;
    color: white;
    height: 2vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 3rem 1rem;

}
.footer__nav{
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 20px;
}
.copyright__text{
    font-size: 1.5rem;
}
.footer__link{
    transition: var(--transition);
    color: white;
}
.footer__link:hover{
    color: orange;
    transform: scale(2);
}
.icon1:hover{
    color: aquamarine;
}
.icon2:hover{
    color: #0F90F3;
}
.icon3:hover{
    color: red;
}
.icon4:hover{
    color: #0073B2;
}
.icon5:hover{
    color: whitesmoke;
}


/* footer section ends here */

/* Blood donation */
.banner__image{
    height: 70%;
    width: 70%;
}

/* responsiveness starts here*/
@media screen and (max-width: 992px) {
    .banner{
        flex-direction: column;
    }
    .banner article{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5rem;
    }
}
@media screen and (max-width: 768px) {
    html{
        font-size: 55.5%;
    }
    .banner article{
        width: 80%;
    }
    .cards{
        width: 80%;
        flex-direction: column;
    }
    #archieves{
        min-height: auto;
    }
    .blog-post{
        padding-left: 0;
        width: 80%;
        flex-direction: column;
    }
    #contract-section{
        min-height: auto;
    }
}
@media screen and (max-width: 600px) {
    html{
        font-size: 48.5%;
    }
    header{
        flex-direction: column;
    }
    #menu__icon2{
        display: block;
        margin: 2rem 0;
    }
    .hidden{
        display: none;
    }
    nav ul{
        flex-direction: column;
        padding-left: 2.5rem;
    }
    .banner{
        min-height: auto;
    }
    .banner article{
        width: 90%;
    }
    .banner__image{
        max-width: 100%;
        /* width: 90%;*/ 
    }
    #blog-about{
        min-height: auto;
    }
    .cards{
        width: 90%;
    }
    .archieves__lists{
        flex-wrap: wrap;
        flex-direction: column;
        width: 90%;
        gap: 3rem;
    }
    .blog-post{
        width: 90%;
    }
    form{
        width: 90%;
    }
    .form-control{
        flex-direction: column;
    }
    .form-control >input, textarea{
        margin-bottom: 0.5rem;
    }
    .footer{
        flex-direction: column;
    }

}

 /* responsiveness ends here */